<div class=" min-h-screen flex flex-row-reverse absolute top-0 right-0">
  <!-- sidenav  -->
  <div
    class="rounded-full h-20 w-20 bg-cyan-800 fixed top-1/2 flex justify-center items-center transform translate-x-1/2 cursor-pointer "
    (click)="toggle=!toggle">
    <img src="http://localhost:4200/assets/svg/menu-icon.svg" alt="">

  </div>
  <div
    class="bg-cyan-700 h-screen text-white space-y-6 p-4 min-w-[50vh] transform  translate-x-full fixed transition duration-200 ease-in-out  overflow-x-auto  "
    [ngClass]="{'-translate-x-0 h-full ': toggle===true}">

    <div class="absolute right-5 top-8 cursor-pointer" (click)="toggle=!toggle">
      <img src="http://localhost:4200/assets/svg/close-icon.svg" class="w-6 h-6" alt="">
    </div>

    <ng-content></ng-content>
  </div>
</div>
